<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>publicKey</key>
	<string>539241bbe488328ea54015bcfaac663f</string>
	<key>privateKey</key>
	<string>bbbbbdc55a6dfa174e47166895ec04557d98644b</string>
</dict>
</plist>
